[19:17, 26/09/2024] Thiago Otto: <!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EPI Fácil</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <div class="navbar">
            <h1 class="logo">EPI FÁCIL</h1>
            <nav>
                <ul>
                    <li>Olá [usuário!] | <a href="#">Fazer logout</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="container">
            <div class="item-box">
                
                <div class="item-info">
                    <p>Informações do produto.exe</p>
                </div>
                <div class="buttons">
                    <button class="btn">Valor compra</button>
                    <button class="btn">Valor empréstimo</button>
                </div>
                <button class="btn-register">Registrar Item</button>
            </div>
        </div>
    </main>
</body>
</html>